<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:camel="http://camel.apache.org/schema/spring"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://camel.apache.org/schema/spring
http://camel.apache.org/schema/spring/camel-spring.xsd
http://www.springframework.org/schema/util
http://www.springframework.org/schema/util/spring-util.xsd">

    <camel:camelContext id="camelContext">
        <camel:jmxAgent id="agent" disabled="true"/>
        <camel:routeBuilder ref="routeBuilder"/>
    </camel:camelContext>

    <util:list id="priceServices">
        <bean class="externalLegacyCodeNotUnderOurControl.PriceService">
            <constructor-arg value="300"/>
        </bean>
        <bean class="externalLegacyCodeNotUnderOurControl.PriceService">
            <constructor-arg value="5"/>
        </bean>
        <bean class="externalLegacyCodeNotUnderOurControl.PriceService">
            <constructor-arg value="8"/>
        </bean>
        <bean class="externalLegacyCodeNotUnderOurControl.PriceService">
            <constructor-arg value="100"/>
        </bean>
    </util:list>

    <bean id="routeBuilder" class="challenge2.camel.Challenge2RouteBuilder">
        <property name="priceServices" ref="priceServices"/>
    </bean>

</beans>